body{
    font-family: 'Courier New', Courier, monospace;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,138,255,0.9332107843137255) 3%);

}

h1{
    color:black;
    margin-top:40px;
    text-align: center;
    font-size: 30;
}
.input-group{
    margin: 50px 0px;
}
.input-group input{
height: 45px;
}
.btn-add{
    background-color: rgb(12, 187, 50);
    color: white;
    padding:0px 63px
}
.btn-remove{
    background-color: red;
    color: white;
    padding: 0px 63px
}
ul{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
}
li{
    position: relative;
    display: block;
    padding:10px 20px;
    margin-bottom: 10px;
    background-color:white ;
    border:1px solid black;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}