* {
    box-sizing: border-box; 
    font-size: 0px;
}
.box1{
    height:100px;
    width:100%;
    background-color: pink;
    border:10px solid white
}

.box2{
    height:400px;
    width:100%;
    display:inline-block
}
.box2a{
    height:100px;
    width: 100%;
    background-color:#EE2E84;
    border:10px solid white;
    display: inline-block   
}
.box2b{
    height:100px;
    width:100%;
    background-color:#EE2E84;
    border:10px solid white;
    display:inline-block
}

.box2c{
    height:100px;
    width: 100%;
    background-color:#EE2E84;
    border:10px solid white;
    display: inline-block;
}
     
.box2d{
    height:100px;
    width:100%;
    background-color:#EE2E84;
    border:10px solid white;
    display: inline-block;
}  

.box3{
    height:200px;
    width:100%;
    display:inline-block}
.box3a {
    height:100px;
    width:100%;
    background-color:  #85CFD8;
    border: 10px solid white;
    display:inline-block}
.box3b{
    height:100px;
    width:100%;
    background-color: #85CFD8;
    border: 10px solid white;
    display:inline-block}
.box4{
    height:200px;
    width:100%;
    display:inline-block;
}  
.box4a{
    height:100px;
    width:100%;
    border:10px solid white;
    background-color: #8DC63F;
    display:inline-block

}  
.box4b{
    height:100px;
    width:100%;
    background-color:#E76E34; 
    border:10px solid white;
    display: inline-block
}
@media(min-width:768px){
.box1{
    display:block;
    height:100px;
    width:100%;
    background-color:pink;
    border:10 px solid white

}
.box2{
    display:inline-block;
    height:100px;
    width:100%
}

.box2a{
    height:100px;
    width:25%;
    background-color: #EE2E84;
    border:10px solid white;
    display:inline-block;
 
}
.box2b{
    height:100px;
    width:25%;
    background-color:#EE2E84;
    border:10px solid white;
    display:inline-block;
   
}
.box2c{
    height:100px;
    width:25%;
    background-color: #EE2E84;
    border:10px solid white;
    display:inline-block;
}
.box2d{
    height:100px;
    width:25%;
    background-color: #EE2E84;
    border:10 px solid white;
    display:inline-block;
    
}
.box3{
    height:100px;
    width:100%;
    display:inline-block;

}
.box3a{
    height:100px;
    width:50%;
    background-color: #85CFD8;
    border:10px solid white;
    display:inline-block;
}
.box3b{
    height:100px;
    width:50%;
    background-color: #85CFD8;
    border:10px solid white;
    display:inline-block;
}
.box4{
    height:100px;
    width:100%;
    display:inline-block;}
    
.box4a{
    height:100px;
    width:75%;
    background-color:#8DC63F;
    border:10px solid white;
    display:inline-block;
}
.box4b{
    height:100px;
    width:25%;
    background-color:#E76E34;
    border:10px solid white;
    display:inline-block;
}}

