/* reset */
*, ::after , ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
/* root */
html, body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color:white;
    min-height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aqua;
    text-align: center;
    width: 400px;
    height: auto;
    padding:1.4rem;
    margin: 100px 0 0 0;
    border-radius: 15px

}
.container .status{
    height:1rem;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.155rem;
    visibility: hidden;
}

.status-red{
    color: white;
    background-color: red;
}
.status-green{
    color:white;
    background-color: green;
}
.container h2{
    padding: 0.1rem 0 0 0.8rem 0;
    font-size: 1.8rem;
}
.container .form-control #grocery-item{
    height: 2rem;
    width:14rem;
    border-radius: 0.2rem;
    border: 1px solid white;
    text-align: center;
    font-size: 0.9rem;
}

.container .form-control .submit-btn{
    margin: 0.7 0 0 0;
    padding:0.3rem 0.6rem;
    border-radius: 0.3rem;
    border: 0;
    background-color: gold;
    font-weight: bold;
    color:black
}
.form-control .character{
padding:0%;
margin:0;
font-size: 0.5rem;
font-weight:bold;
color:black
}
.grocery-list{

padding:0.1rem;
margin:1rem 0 0. 0;
background-color: white;
border-radius: 0.5 rem;

}
.grocery-list ul{
    list-style: none;
    margin:0.3rem;
}
.grocery-list ul li{
    margin: 0.5rem, 0;
    padding: 0.3rem;
    background-color: teal;
    border-radius: .5px .5px 15px rgb(0,0,0,0,.4);
    display: grid;
    grid-template-columns: 3fr 1fr;
}.grocery-list ul li .btn-container button{
height: 1.1rem;
width: 1.5rem;
padding:0.1rem;
border-radius:0.3rem;
border: none;
box-shadow: -1px -1px 3px #000 inset;


}
.grocery-list ul li{
    margin: 0.5rem;
    padding: 0.3rem;
    background-color: turquoise;
    border-radius: .5px .5px 15px rgba(0, 0,0,0.4);
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.grocery-list ul li .btn-container button{
    height:1.1rem;
    width:1.5 rem;
    padding: 0.1rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: -1px -1px 3px #000 inset;
}


.grocery-list ul li .btn-container button:first-child{
color:green
}
.grocery-list ul li .btn-container button:last-child{
  color:black  
}



